@model ECommerceAppSparsh.Models.ProductViewModel

@{
    ViewData["Title"] = "AddToCart";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>Add To Cart</h2>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to Products</a>

    </div>
</div>
<hr />
<img src="@Model.ImageUrl" class="img-fluid" alt="Product Image" style="height:150px;object-fit:contain;" alt="...">

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <p class="mt-2"><b>Product</b> :  @Html.DisplayFor(model => model.ProductName)</p>
            <p><b>Price</b> :  $@Html.DisplayFor(model => model.Price)</p>
            <p><b>Description</b> :  @Html.DisplayFor(model => model.Description)</p>
            <p><b>Rating</b> :  @Html.DisplayFor(model => model.Rating)</p>
           
        
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" type="number" min="1" max="10" value="1" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="Rating" />
        <input type="hidden" asp-for="ProductName" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="ImageUrl" />
        <input type="hidden" asp-for="Price" />
        <input type="hidden" asp-for="CategoryId" />

        <div class="form-group">
            <input type="submit" value="Add To Cart" class="btn btn-success mt-2" />
        </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
